body {
  margin: 0 auto;
}
@font-face {
  font-family: Lato-Bold;
  src: url(font/Lato-Bold.ttf);
}
@font-face {
  font-family: OpenSans-Light;
  src: url(font/OpenSans-Light.ttf);
}
@font-face {
  font-family: OpenSans-Bold;
  src: url(font/OpenSans-Bold.ttf);
}
@font-face {
  font-family: OpenSans-Semibold;
  src: url(font/OpenSans-Semibold.ttf);
}
@font-face {
  font-family: OpenSans-Italic;
  src: url(font/OpenSans-Italic.ttf);
}
@font-face {
  font-family: OpenSans-Regular;
  src: url(font/OpenSans-Regular.ttf);
}
hr {
  background-color: #fcac45;
  height: 5px;
  border: none;
}
.start {
  background-color: black;
  padding: 40px 0;
}
.start h3 {
  font-family: Lato-Bold;
  color: white;
}
.start .nav li {
  font-family: Lato-Bold;
  font-size: 14px;
}
.start .nav li a {
  color: white;
}
.start .nav li a hr {
  width: 30px;
  margin-right: 0;
  opacity: 0;
}
.start .nav li a:focus,
.start .nav li a:hover {
  background-color: black;
  color: #fcac45;
}
.start .nav li a:focus hr,
.start .nav li a:hover hr {
  opacity: 1;
}
.start #welcome {
  padding: 180px 0 80px 0;
}
.start #welcome h {
  font-family: OpenSans-Light;
  font-size: 44px;
}
.start #welcome h span {
  font-family: OpenSans-Bold;
  color: #fcac45;
}
.start #welcome p {
  font-family: OpenSans-Light;
  font-size: 20px;
  color: #999999;
  margin-bottom: 230px;
}
.start #welcome p span {
  color: white;
}
.start #welcome a {
  color: white;
}
section {
  padding: 100px 0;
  color: #636363;
  text-align: center;
}
section h {
  font-size: 44px;
  font-family: OpenSans-Light;
}
section h span {
  font-family: OpenSans-Semibold;
}
section article p {
  font-size: 20px;
}
section article h1 {
  color: #3f3f3f;
  font-family: OpenSans-Light;
  padding: 0 15px;
}
section article hr {
  background-color: #fcac45;
  width: 100px;
  height: 5px;
  border: none;
  margin-left: 0;
}
section article h4 {
  font-family: OpenSans-Light;
}
section article ul {
  padding: 40px 0;
}
section article ul li {
  font-family: OpenSans-Semibold;
  font-size: 18px;
}
section article ul li span {
  font-family: OpenSans-Italic;
  font-size: 16px;
}
section article button {
  background-color: white;
  font-family: OpenSans-Semibold;
  font-size: 12px;
  padding: 15px;
  border: 1px solid #3f3f3f;
}
.team {
  background-color: black;
  text-align: center;
  color: white;
}
.team .carousel-indicators li {
  margin-bottom: -50px;
}
.team .carousel-indicators li:focus,
.team .carousel-indicators li:hover,
.team .carousel-indicators li:active {
  background-color: #fcac45;
  border-color: #fcac45;
  cursor: pointer;
}
.team h {
  font-size: 44px;
  font-family: OpenSans-Light;
}
.team h span {
  font-family: OpenSans-Semibold;
}
.team figure {
  padding: 70px 0;
}
.team figure img {
  background-color: #d7d7d7;
}
.team figure p {
  padding: 30px 0;
}
.services article {
  padding: 100px 0 0 0;
}
.services article h3 {
  font-family: OpenSans-Semibold;
}
.services article .fa-circle-thin {
  color: #fcac45;
}
.services article h5 {
  padding: 10px;
}
.testimonials h4 {
  font-family: OpenSans-Semibold;
}
.testimonials h4 span {
  font-family: OpenSans-Light;
}
.testimonials h4:last-child {
  padding: 50px 0;
}
.portofolio {
  padding: 30px 120px;
}
.contact {
  padding: 80px 300px;
}
.contact p {
  font-family: OpenSans-Light;
}
.contact form {
  padding: 70px 0;
  text-align: right;
}
.contact form .form-group {
  text-align: left;
  font-family: OpenSans-Light;
}
.contact form button {
  background-color: #fcac45;
  padding: 10px 55px;
  border: none;
}
.contact form button a {
  color: white;
}
.contact form button a:focus,
.contact form button a:hover {
  text-decoration: none;
}
.contact form button:focus,
.contact form button:hover {
  background-color: black;
}
footer {
  background-color: black;
  font-family: OpenSans-Bold;
  color: #b2b2b2;
  padding: 40px;
}
footer .social li {
  display: inline;
  text-decoration: none;
  padding: 5px;
}
footer .social li .fa {
  color: #b2b2b2;
}
footer .social li .fa:focus,
footer .social li .fa:hover {
  color: #fcac45;
}
