body {
  margin: 0 auto;
}
@font-face {
  font-family: Lato-Bold;
  src: url(font/Lato-Bold.ttf);
}
@font-face {
  font-family: OpenSans-Light;
  src: url(font/OpenSans-Light.ttf);
}
@font-face {
  font-family: OpenSans-Bold;
  src: url(font/OpenSans-Bold.ttf);
}
.start {
  background-color: black;
  padding: 40px 0;
}
.start h3 {
  font-family: Lato-Bold;
  color: white;
}
.start .nav li {
  font-family: Lato-Bold;
  font-size: 14px;
}
.start .nav li a {
  color: white;
}
.start .nav li a hr {
  width: 30px;
  margin-right: 0;
  opacity: 0;
  background-color: #fcac45;
}
.start .nav li a:focus,
.start .nav li a:hover {
  background-color: black;
  color: #fcac45;
}
.start .nav li a:focus hr,
.start .nav li a:hover hr {
  opacity: 1;
}
.start #welcome {
  padding: 180px 0 80px 0;
}
.start #welcome h {
  font-family: OpenSans-Light;
  font-size: 44px;
}
.start #welcome h span {
  font-family: OpenSans-Bold;
  color: #fcac45;
}
.start #welcome p {
  font-family: OpenSans-Light;
  font-size: 20px;
  color: #999999;
  margin-bottom: 230px;
}
.start #welcome p span {
  color: white;
}
.start #welcome a {
  color: white;
}
